* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 1080px;
  margin: 0 auto;
  background-color: slategray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
}

img {
  max-width: 25%;
  margin: 20px;
}