<header>
  <h1>🌟 <%= title %> 🌟</h1>

  <% if (typeof message !== 'undefined') { %>
    <p><%= message %></p>
  <% } %>
</header>
<nav>
  <a href="/">🏠 Accueil</a> |
  <a href="/about">ℹ️ À propos</a>
</nav>
<hr>