* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  display: block;
}

input:focus {
  outline: none;
}

.valid {
  border: solid 1px green;
  border-radius: 2px;
}

.notvalid{
  border: solid 1px firebrick;
  border-radius: 2px;
}

p {
  color: firebrick;
  font-size: 8px;
}